<div class="first-circle">
    <h1 id="title">Nos suggestions du moment</h1>

    <div (click)="recupSandwich(index)" [appSelection]="index === selectionSandwichSug" *ngFor="let sandwich of sandwiches; let index = index" class="sandwich">
        <img [src]="sandwich.img" width="130" height="130">

        <div class="nom-prix">
            <p class="nom-sandwich">{{sandwich.nomSandwich}}</p>
            <p class="prix-sandwich">{{sandwich.prixSandwich}} €</p>
        </div>

        <button class="bouton-sandwich">Details</button>
    </div>

</div>