.catalogue-layout{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.catalogue-choix, .catalogue-recap{
    padding: 0 20px;
}

.catalogue-choix{
    flex: 0 0 70%;
}

.catalogue-recap{
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: white;
    overflow: auto;
}


.box{
    border: 2px solid #212121;
    border-radius: 10px;

    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    

    overflow: hidden;
}

.box-header{
    background-color: #f0f0f0;
}

.box-content, .box-header{
    padding: 15px;
}

.box-content{
    display: flex;
    flex-direction: row;
    
}

.box-content:hover{
    cursor: pointer;
}

.box-loop{
    margin-right: 20px;
}

.catalogue-recap-prdts{
    display: flex;
    flex-direction: row;
}

button{
    background-color: white;
    height: 50px;
    width: auto;
    border-radius: 16px;
    border: 1px solid black;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}

button:hover {
    background-color: #f6f6f6;
}

.box-content-ele{
    text-align: center;
    margin-top: 10px;
}

.quantite > button{
    height:30px;
    width: 50px;
}

.box-content-img-label{
    margin-bottom: 10px;
}

#textbox{
    margin-top: 10px;
}


