<div class="center">
    <p> Speed Sandwich est une boutique en ligne de vente de sandwich située à Dijon en France. Constituez votre propre sandwich à partir de notre catalogue varié d'ingrédients ou ajoutez tout simplement un sandwich déjà constitué parmis notre gamme presentée
        ci-dessous !
    </p>
</div>


<div class="row">

    <div class="column">
        <app-suggestions></app-suggestions>
        <app-ingredients></app-ingredients>
    </div>


    <app-liste-sandwich></app-liste-sandwich>


</div>