<div>
    <!--<div class="cataloguePain">
      <h3>NOS PAINS</h3>
      <div class="choix">
        <ul>
          <li *ngFor="let ing of cataloguePain; let index = index">
            <div
              class="{{ ing.toString() }}"
              (click)="changePain(ing)"
              id="catalogue"
            >
              {{ ing.getLibelle() }}
            </div>
          </li>
        </ul>
      </div>
    </div>
  
    <div class="catalogueViande">
      <h3>NOS VIANDES</h3>
      <div class="choix">
        <ul>
          <li *ngFor="let ing of catalogueViande; let index = index">
            <div class="{{ ing.toString() }}" id="catalogue">
              {{ ing.getLibelle() }} à prix de {{ ing.getPrix() }} € l'unité
              <div class="image">
                <img [src]="ing.getImage()" width="200" height="200">
              </div>
              <div class="quantite">
                <button (click)="remove(ing)">-</button>
                {{ ing.getCount() }}
                <button (click)="add(ing)">+</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  
    <div class="catalogueFromage">
      <h3>NOS FROMAGES</h3>
      <div class="choix">
        <ul>
          <li *ngFor="let ing of catalogueFromage; let index = index">
            <div class="{{ ing.toString() }}" id="catalogue">
              {{ ing.getLibelle() }} à prix de {{ ing.getPrix() }} € l'unité
              <div class="quantite">
                <button (click)="remove(ing)">-</button>
                {{ ing.getCount() }}
                <button (click)="add(ing)">+</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  
    <div class="catalogueSauce">
      <h3>NOS SAUCES</h3>
      <div class="choix">
        <ul>
          <li *ngFor="let ing of catalogueSauce; let index = index">
            <div
              (click)="addMultiple(ing)"
              class="{{ ing.toString() }}"
              id="catalogue"
            >
            {{ ing.getLibelle() }}
  
            <div class="image">
              <img src="ing.src" width="100" height="100">
            </div>
  
            </div>
          </li>
        </ul>
      </div>
    </div>
  
    <div class="catalogueSupp">
      <h3>NOS SUPPLEMENTS</h3>
      <div class="choix">
        <ul>
          <li *ngFor="let ing of catalogueSupp; let index = index">
            <div
              (click)="addMultiple(ing)"
              class="{{ ing.toString() }}"
              id="catalogue"
            >
              {{ ing.getLibelle() }}
            </div>
          </li>
        </ul>
      </div>
    </div>
  -->
    <div class="catalogueBoisson">
      <h3>NOS BOISSONS</h3>
      <div class="choix">
        <ul>
          <li *ngFor="let ing of clg_boissons; let i = index">
            <div
              (click)="onSelectDrink(i)"
              class="{{ ing.toString() }}"
              id="catalogue"
            >
              {{ ing.getLibelle() }}
            </div>
          </li>
        </ul>
      </div>
    </div>
  <!--
    <button (click)="addToPanier()">Ajouter sandwich</button>
    <button>
      Voir panier (redirection vers la page panier pas encore faite)
    </button>
  
    <div class="recap">
        <div>
          <div>
            <h2>Vos ingrédients</h2>
            {{ this.pain!.getLibelle() }} |
            {{ this.toString() }}
          </div>
      
          <h2>VOS SANDWICHS</h2>
          <div id="sandwich">
            <a *ngFor="let ing of panier!.getSandwichs(); let index = index">
              <h4>Sandwich numero {{ index }} :</h4>
              <div>
                {{ ing.toString() }}
                  <div>
                    <button (click)="removePanier(ing)">Retirer du panier</button>
                  </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    -->
  </div>
  
  
  
  
  
  