<div>
    <!--<div class="cataloguePain">
      <h3>NOS PAINS</h3>
      <div class="choix">
        <ul>
          <li *ngFor="let ing of cataloguePain; let index = index">
            <div
              class="{{ ing.toString() }}"
              (click)="changePain(ing)"
              id="catalogue"
            >
              {{ ing.getLibelle() }}
            </div>
          </li>
        </ul>
      </div>
    </div>
  
    <div class="catalogueViande">
      <h3>NOS VIANDES</h3>
      <div class="choix">
        <ul>
          <li *ngFor="let ing of catalogueViande; let index = index">
            <div class="{{ ing.toString() }}" id="catalogue">
              {{ ing.getLibelle() }} à prix de {{ ing.getPrix() }} € l'unité
              <div class="image">
                <img [src]="ing.getImage()" width="200" height="200">
              </div>
              <div class="quantite">
                <button (click)="remove(ing)">-</button>
                {{ ing.getCount() }}
                <button (click)="add(ing)">+</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  
    <div class="catalogueFromage">
      <h3>NOS FROMAGES</h3>
      <div class="choix">
        <ul>
          <li *ngFor="let ing of catalogueFromage; let index = index">
            <div class="{{ ing.toString() }}" id="catalogue">
              {{ ing.getLibelle() }} à prix de {{ ing.getPrix() }} € l'unité
              <div class="quantite">
                <button (click)="remove(ing)">-</button>
                {{ ing.getCount() }}
                <button (click)="add(ing)">+</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  -->
    <div class="catalogueSauce">
      <h3>NOS SAUCES</h3>
      <div class="choix">
        <ul>
          <li *ngFor="let sauce of clg_sauces; let i=index">
            <div
              (click)="onSelectSauce(i)"
              id="catalogue"
            >
            {{ sauce.getLibelle() }}
  
            <div class="image">
              <img src="sauce.src" width="100" height="100">
            </div>
  
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="catalogueSupp">
      <h3>NOS SUPPLEMENTS</h3>
      <div class="choix">
        <ul>
          <li *ngFor="let ing of clg_supplements; let i=index">
            <div
              (click)="onSelectAccompaniement(i)"
              id="catalogue"
            >
              {{ ing.getLibelle() }}
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="catalogueBoisson">
      <h3>NOS BOISSONS</h3>
      <div class="choix">
        <ul>
          <li *ngFor="let drink of clg_boissons; let i=index">
            <div
              (click)="onSelectDrink(i)"
              id="catalogue"
            >
              {{ drink.getLibelle() }}
            </div>
          </li>
        </ul>
      </div>
    </div>
  
    <div>
      <button
        routerLink="/panier"
        routerLinkActive="active"
        *ngIf="menu.complete()" (click)="onAddToPanier()"
      >
        Ajouter sandwich
      </button>
      <button routerLink="" routerLinkActive="active" (click)="onQuitCompo()">Annuler la création</button>
      <p *ngIf="!menu.complete()">Composez votre menu pour l'ajouter au panier</p>
    </div>

    <div class="recap">
        <div>
          <div>
            <h2>Vos ingrédients</h2>
          </div>
      
          <h2>VOS SANDWICHS</h2>
          <div id="sandwich">
            <a>
              <h4>Sandwich numero :</h4>
              <div>
                  <div>
                    <button>Retirer du panier</button>
                  </div>
              </div>
            </a>
          </div>
        </div>
      </div>
  </div>
  
  
  
  
  
  