<!-- <footer>
   
    <a href="#"> <i class="fa fa-facebook"> </i> </a>
    <a href="#"> <i class="fa fa-twitter"> </i> </a> 
    <a href="#"> <i class="fa fa-instagram"> </i> </a>

    <p>UFR des Sciences et des Techniques <br>
    	9 Avenue Alain Savary <br>
    	BP 47870 <br>
    	21078 DIJON CEDEX <br> 
    </p>

</footer> -->

<footer>
	<a href="#"> <i class="fa fa-facebook"> </i> </a>
    <a href="#"> <i class="fa fa-twitter"> </i> </a> 
    <a href="#"> <i class="fa fa-instagram"> </i> </a>

    <p>UFR des Sciences et des Techniques <br>
    	9 Avenue Alain Savary <br>
    	BP 47870 <br>
    	21078 DIJON CEDEX <br> 
    </p>


</footer>