<div class="first-circle">
    <h2 id="title">Liste des ingredients</h2>
    <div *ngIf="sandwich" class="sandwich">
        <img class="img-fluid" style="max-height: 150px;" [src]="sandwich.image" alt="#" />
        <ul>
            <li *ngFor="let sup of sandwich.supplement;">
                {{ sup.getWording() }}
            </li>

            <li *ngFor="let ing of sandwich.baseIng;">
                {{ ing }}
            </li>
        </ul>
        <button routerLink="/panier" routerLinkActive="active" class="bouton-acheter" (click)="onAdd()">Ajouter au panier</button>
        <button routerLink="/compose" routerLinkActive="active" class="bouton-acheter" (click)="onCreateMenu()">Créer mon menu</button>
    </div>
</div>